*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}

body{
    background-color: rgb(40, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.profile-card{
    background-color: rgb(92, 91, 91);
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
    width: 300px;
    box-shadow:0 4px rgba (0, 0, 0, 0.3);
}
.profile-img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.name{
    font-size: 1.5rem;
    font-weight: 600;
}
.location{
    color:rgb(201, 201, 9) ;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
}
.bio{
    font-size: 0.9 rem;
    margin: 10px 0;
    color: whitesmoke;
}
.links{
    margin-top: 15px;
}

.btn{
  display: block;
  width: 100%;
  background-color: gray;  
  border: none;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  font-size: 1 rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
    background-color:#555 ;
}
